body{
    width: 100%;
    flex-grow: 1;
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 30%);
    position: relative;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(lorette-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

body:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 119, 119, 0.4) 0%, rgba(115, 0, 54, 0.68) 100%);
    z-index: 100;
}

.profile{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    max-width: 400px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    z-index: 400;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 21px;
    box-shadow: 0 0 40px;
    background-color: #fff;
    overflow-y: scroll;
}

.profile-thumb{
    position: relative;
    height: 230px;
    min-height: 200px;
}

.profile-thumb::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(lorette-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -110px;
    z-index: 100;
}

.profile-thumb::after{
    position: absolute;
    content: "";
    bottom: 0;
    z-index: 300;
    width: 100%;
    height: 70%;
    background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 90%);
}

.profile-links{
    padding: 1rem;
}

.links{
    display: flex;
    flex-direction: column;
}

.links .link{
    padding: 1rem;
    border-bottom: 1px solid #ff73ff24;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.links .link:hover a{
    color: #ff73ff;
    transition: all 0.2s ease;
}

.links .link .link-fig img{
    width: 34px;
    margin-right: 1rem;
}

.links .link a{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.2s ease;
    text-decoration: none;
}